.gitignore
.vscodeignore
eslint.config.mjs
package-lock.json
tsconfig.json
vscode.code-workspace
DEVELOPMENT.md

.git/**
.github/**
.vscode/**
node_modules/**
out/test/**
python-samples/**
src/**
test/**

**/*.map
**/*.ts
